#pragma once

#define WIFI_SSID "your-ssid"
#define WIFI_PASSWORD "your-password"

#define MQTT_HOST "192.168.1.50"
#define MQTT_PORT 1883
#define MQTT_USERNAME ""
#define MQTT_PASSWORD ""

// WireGuard sensitive defaults (optional)
#define WIREGUARD_PRIVATE_KEY ""
#define WIREGUARD_PEER_PUBLIC_KEY ""
#define WIREGUARD_PRESHARED_KEY ""
